<p>
  <strong>Token:</strong>
  <%= @article.token %>
</p>
 
<p>
  <strong>Team id:</strong>
  <%= @article.team_id %>
</p>

<p>
  <strong>Team Domain:</strong>
  <%= @article.team_domain %>
</p>
 
<p>
  <strong>Channel id:</strong>
  <%= @article.channel_id %>
</p>

<p>
  <strong>Channel Name:</strong>
  <%= @article.channel_name %>
</p>
 
<p>
  <strong>User id:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @article.user_name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Trigger Word:</strong>
  <%= @article.trigger_word %>
</p>
<%= link_to 'Back', articles_path %>

